*.bak1
*.bak2
*.bak3
*.png
*.output
.vscode/settings.json
*.pyc
GUI/csv/*.csv
*.tcl#
*.pdf
GUI/.vscode/settings.json
GUI/testing3.py
GUI/testing.py
GUI/testing2.py
testing3.py
AnotherThreadingTest.py
test_threading.py
GUI/Testing/*